.nav{
    font-size: 16px;
    font-weight:bold;
    padding:0;
}

.nav ul{
    padding-bottom: 0;
    padding-left:20px;
    padding-right:20px;
    /*text-transform: uppercase;*/
}

.nav .pull-left li {
    display: inline;
    padding-right: 30px;
}
.nav .pull-right li {
    display: inline;
    padding-left: 30px;
}

.nav .pull-right{
    float: right;
}


.thumb {
    padding-left: 0;
    padding-right: 0;
}
