.nav{
    font-size: 16px;
    font-weight:bold;
    padding:0;
}

.nav a{
    color:black;
}

.nav ul{
    padding-top:10px;
    padding-bottom: 0;
    padding-left:20px;
    padding-right:20px;
    /*text-transform: uppercase;*/
}

.nav .pull-left li {
    display: inline;
    padding-right: 30px;
}
.nav .pull-right li {
    display: inline;
    padding-left: 30px;
}

.nav .pull-right{
    float: right;
}


.thumb {
    padding-left: 0;
    padding-right: 0;
}
.picture{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.vertical{
    float:left;
    clear:both;
}

.photo-label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: normal;
  font-size:40px;
  color:white;
  text-transform: uppercase;
  position: absolute;      
  bottom: 5px;
  left: 12px;
}

.thumbs img:hover
{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
.thumbs img
{
    filter: none;
    -webkit-filter: none;
}
