body { 
    padding-top: 50px; 
}

.nav{
    font-size: 16px;
    font-weight:bold;
    padding:0;
}

.nav-bottom{
    text-align:center;
}

.navbar-nav-bottom a{
    color:#777;
}

.navbar-nav-bottom > li > a:hover,
.navbar-nav-bottom > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}


.container-fluid{
    background-color:white;
}

.thumb {
    padding-left: 0;
    padding-right: 0;
}

.gallery {
    margin-left:auto;
    margin-right:auto;
}
.container{
    margin: 0 auto 20px;
    overflow:hidden;
}

.crop {
    overflow:hidden;
}

.container2 {
background-color:blue;
    margin: 0 auto 20px;
    padding-left:0;
    padding-right:0;
    overflow:hidden;
    border-color:gray;
    border-style:solid;
}

.picture{
    overflow:hidden;
}
.container img {
}


.photo-label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: normal;
  font-size:40px;
  color:white;
  text-transform: uppercase;
  position: absolute;      
  bottom: 5px;
  left: 12px;
}

.thumbs img:hover
{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
.thumbs img
{
    filter: none;
    -webkit-filter: none;
}
@font-face {
    font-family: Quicksand;
    src: url("/static/photos/otf/Quicksand-Regular.otf") format("opentype");
}
@font-face {
    font-family: Quicksand;
    font-weight: lighter;
    src: url("/static/photos/otf/Quicksand-Light.otf") format("opentype");
}

.text
{
z-index:100;
position:absolute;    
bottom: 20px;
left:0;
margin-left:15%;
margin-right:15%;
text-align:center;
color:white;
font-size:26px;
font-family: "Quicksand"; 
font-weight: lighter;
}

.background {
/* Set rules to fill background */
min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;

-webkit-filter: blur(3px) opacity(1) ;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
.background {
left: 50%;
margin-left: -512px;   /* 50% */
}
}

.error_404{
	text-align:center; 
	margin-top:50px;
}
 
