<!Doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="{% static 'photos/media/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/swipebox.min.css' %}">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav pull-right">
                 <li><a href="../">Home</a></li>
            </ul>
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#themed-galleries">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="themed-galleries">
                <ul class="nav navbar-nav">
                    <li class="divider"></li>
                    <li><a href="../architecture/">Architecture</a> </li>
                    <li><a href="../landscapes/">Landscapes</a> </li>
                    <li><a href="../wildlife/">Wildlife</a> </li>
                    <li><a href="../nature/">Nature</a> </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="col-xs-12 col-sm-12 col-md-12 gallery">
    </div>
        <div class="container-fluid">
        {% for large,thumb in pictures %}
        {% with ""|add:large as pict_path %}
        {% with ""|add:thumb as thumb_path %}
        <div class="col-xs-12 col-sm-4 col-md-3 container"><div class="crop"><div class="picture" >
                    <a href="{% static pict_path %}" class="swipebox"><img class="img-responsive" src="{% static thumb_path %}" width="400"></a>
        </div></div></div>
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
    
    <div class="nav-bottom" role="navigation">
        <div class="container-fluid">
            <div class="col-sm-4 col-xs-1"></div>
            <div class="col-sm-1 col-xs-3">
                <ul class="nav navbar-nav-bottom">
                    <li><a href="../{{ previous }}">Previous</a></li>
                </ul>
             </div>
            <div class="col-sm-2 col-xs-4">
                <ul class="nav navbar-nav-bottom">
                    <li><a href="../">Home</a></li>
                </ul>
             </div>
            <div class="col-sm-1 col-xs-3">
                <ul class="nav navbar-nav-bottom">
                    <li><a href="../{{next}}">Next</a></li>
                </ul>
             </div>
            <div class="col-sm-4 col-xs-1"></div>
        </div>
    </div>    
    <script src="{% static 'photos/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
    <script src="{% static 'photos/js/jquery.swipebox.min.js' %}"></script>

    <script>
        $(document).ready(crop);
        $(window).resize(crop);
            
        function crop() {
            var picsize = document.getElementsByClassName("picture")[0];
            var cropsize = document.getElementsByClassName("crop");
            for(var i = 0; i < cropsize.length; i++) {
                cropsize[i].style.height = picsize.offsetWidth * 0.67+"px";
            }
        };
    </script>
    <script type="text/javascript">
        ;( function( $ ) {
            $( '.swipebox' ).swipebox();
        } )( jQuery );
    </script>
</body>

