<!Doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/lightbox.css' %}" />
</head>
<script>
    function crop(pic)
    {
        pic.style.height="80px";
    }
</script>
<script>
    window.addEventListener("resize", function(e) {
        var picsize = document.getElementsByClassName("picture")[0];
        var cropsize = document.getElementsByClassName("crop");
        for(var i = 0; i < cropsize.length; i++) {
            cropsize[i].style.height = picsize.offsetWidth * 0.67+"px";
        }
    });
</script>

<body>
    <div class="nav">
        <ul class = pull-left>
            <li><a href="../architecture/">Architecture</a> </li>
            <li><a href="../landscapes/">Landscapes</a> </li>
            <li><a href="../wildlife/">Wildlife</a> </li>
            <li><a href="../nature/">Nature</a> </li>
        </ul> 
        <ul class = pull-right>
            <li><a href="../">Home</a> </li>
            <li><a href="../aboutme/">About Me</a> </li>
        </ul> 
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 gallery">
        {% for picture in pictures %}
        {% with ""|add:picture as picpath %}
        <div class="col-xs-12 col-sm-4 col-md-3 container"><div class="crop"><div class="picture" ><a href="{% static picpath %}" data-lightbox="gallery"><img class="img-responsive" src="{% static picpath %}" width="300"height="200"></a></div></div></div>
        {% endwith %}
        {% endfor %}
    </div>
        
    <script src="{% static 'photos/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
    <script src="{% static 'photos/js/lightbox.min.js' %}"></script>
</body>

