<!Doctype html>
<html>
<head>
    {% load staticfiles %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
</head>
<body>
    
    <div class="nav">
        <ul class = pull-left>
            <li><a href="architecture/">Architecture</a> </li>
            <li><a href="landscapes/">Landscapes</a> </li>
            <li><a href="wildlife/">Wildlife</a> </li>
            <li><a href="nature/">Nature</a> </li>
        </ul> 
        <ul class = pull-right>
            <li><a href="aboutme/">About Me</a> </li>
        </ul> 
    </div>

    <div class="thumbs">    
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="toronto/"><img class="img-responsive" src="{% static 'photos/toronto/toronto-4.jpg' %}" ><span class="photo-label">Toronto</span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="montreal/"><img class="img-responsive" src="{% static 'photos/montreal/montreal-1.jpg' %}" ><span class="photo-label">Montréal<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="madagascar/"><img class="img-responsive" src="{% static 'photos/madagascar/madagascar-1.jpg' %}" ><span class="photo-label">Madagascar<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="vosges/"><img class="img-responsive" src="{% static 'photos/vosges/vosges-1.jpg' %}" ><span class="photo-label">Vosges<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="london/"><img class="img-responsive" src="{% static 'photos/london/london-1.jpg' %}" ><span class="photo-label">London<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="switzerland/"><img class="img-responsive" src="{% static 'photos/switzerland/switzerland-1.jpg' %}" ><span class="photo-label">Switzerland<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="seattle/"><img class="img-responsive" src="{% static 'photos/seattle/seattle-1.jpg' %}" ><span class="photo-label">Seattle<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="tremblant/"><img class="img-responsive" src="{% static 'photos/tremblant/tremblant-1.jpg' %}" ><span class="photo-label">Tremblant<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="amalfi/"><img class="img-responsive" src="{% static 'photos/amalfi_coast/amalfi_coast-1.jpg' %}" ><span class="photo-label">Positano<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="napoli/"><img class="img-responsive" src="{% static 'photos/napoli/napoli-1.jpg' %}" ><span class="photo-label">Napoli<span style="font-size:17px">&nbsp coming soon </span><span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="paris_air_show/"><img class="img-responsive" src="{% static 'photos/bourget/bourget-1.jpg' %}" ><span class="photo-label">Le Bourget<span style="font-size:17px">&nbsp coming soon </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="quebec/"><img class="img-responsive" src="{% static 'photos/quebec/quebec-1.jpg' %}" ><span class="photo-label">Québec<span style="font-size:17px">&nbsp coming soon </span></span></a>
  </div>          
  <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
</body>
</html>    
