<!Doctype html>
<html>
<head>
    {% load staticfiles %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav pull-right">
                 <li><a href="aboutme/">About Me</a></li>
            </ul>
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#themed-galleries">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="themed-galleries">
                <ul class="nav navbar-nav">
                    <li class="divider"></li>
                    <li><a href="architecture/">Architecture</a> </li>
                    <li><a href="landscapes/">Landscapes</a> </li>
                    <li><a href="wildlife/">Wildlife</a> </li>
                    <li><a href="nature/">Nature</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="thumbs">    
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="toronto/"><img class="img-responsive" src="{% static 'photos/media/home/home-1.jpg' %}" ><span class="photo-label">Toronto</span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="montreal/"><img class="img-responsive" src="{% static 'photos/media/home/home-2.jpg' %}" ><span class="photo-label">Montréal</span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="madagascar/"><img class="img-responsive" src="{% static 'photos/media/home/home-3.jpg' %}" ><span class="photo-label">Madagascar<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="vosges/"><img class="img-responsive" src="{% static 'photos/media/home/home-4.jpg' %}" ><span class="photo-label">Vosges</span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="london/"><img class="img-responsive" src="{% static 'photos/media/home/home-5.jpg' %}" ><span class="photo-label">London<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="switzerland/"><img class="img-responsive" src="{% static 'photos/media/home/home-6.jpg' %}" ><span class="photo-label">Switzerland<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="seattle/"><img class="img-responsive" src="{% static 'photos/media/home/home-7.jpg' %}" ><span class="photo-label">Seattle<span style="font-size:17px"><i>&nbsp coming soon </i> </span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="tremblant/"><img class="img-responsive" src="{% static 'photos/media/home/home-8.jpg' %}" ><span class="photo-label">Tremblant<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="amalfi/"><img class="img-responsive" src="{% static 'photos/media/home/home-9.jpg' %}" ><span class="photo-label">Positano<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="napoli/"><img class="img-responsive" src="{% static 'photos/media/home/home-10.jpg' %}" ><span class="photo-label">Napoli<span style="font-size:17px"><i>&nbsp coming soon </i></span><span></a>
                    <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="bourget/"><img class="img-responsive" src="{% static 'photos/media/home/home-11.jpg' %}" ><span class="photo-label">Le Bourget<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
                    <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="quebec/"><img class="img-responsive" src="{% static 'photos/media/home/home-12.jpg' %}" ><span class="photo-label">Québec<span style="font-size:17px"><i>&nbsp coming soon </i></span></span></a>
  </div>          
    <script src="{% static 'photos/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
</body>
</html>    
