<!Doctype html>
<html>
    <head>
        {% load staticfiles %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--<link href="http://alextalmon.nl/css/bootstrap.css" rel="stylesheet">--!>
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
     
        <link rel="stylesheet" type="text/css" href="{% static 'photos/style.css' %}" />
    </head>
    <body>
        
        <div class="nav">
            <ul class = pull-left>
                <li> Architecture </li>
                <li> Landscapes </li>
                <li> Wildlife </li>
                <li> Nature </li>
            </ul> 
            <ul class = pull-right>
                <li> Home </li>
                <li><a href="aboutme/">About Me</a> </li>
            </ul> 
        
        </div>

        <div class="thumbs">    
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="saguenay/"><img class="img-responsive" src="{% static 'photos/Saguenay.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="toronto/"><img class="img-responsive" src="{% static 'photos/Toronto.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="montreal/"><img class="img-responsive" src="{% static 'photos/Montreal.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="madagascar/"><img class="img-responsive" src="{% static 'photos/Madagascar.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="vosges/"><img class="img-responsive" src="{% static 'photos/Vosges.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="london/"><img class="img-responsive" src="{% static 'photos/London.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="switzerland/"><img class="img-responsive" src="{% static 'photos/Switzerland.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="seattle/"><img class="img-responsive" src="{% static 'photos/Seattle.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="tremblant/"><img class="img-responsive" src="{% static 'photos/Tremblant.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="amalfi/"><img class="img-responsive" src="{% static 'photos/Amalfi.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="napoli/"><img class="img-responsive" src="{% static 'photos/Napoli.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="paris_air_show/"><img class="img-responsive" src="{% static 'photos/Paris Air Show.jpg' %}" ></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 thumb">
                <a href="quebec/"><img class="img-responsive" src="{% static 'photos/Quebec.jpg' %}" ></a>
            </div>
      </div>          
                        
    </body>
</html>    
