<!Doctype html>
<html>
    <head>
        {% load staticfiles %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/lightbox.css' %}" />
    </head>

    <body>
        
        <div class="nav">
            <ul class = pull-left>
                <li><a href="../architecture/">Architecture</a> </li>
                <li><a href="../landscapes/">Landscapes</a> </li>
                <li><a href="../wildlife/">Wildlife</a> </li>
                <li><a href="../nature/">Nature</a> </li>
            </ul> 
            <ul class = pull-right>
                <li><a href="../">Home</a> </li>
                <li><a href="../aboutme/">About Me</a> </li>
            </ul> 
        </div>

        <div class="pictures">    
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_01.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_01.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_02.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_02.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_03.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_03.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_04.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_04.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_05.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_05.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_06.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_06.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_07.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_07.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_08.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_08.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_09.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_09.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_10.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_10.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_11.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_11.jpg' %}" ></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture">
                <a href="{% static 'photos/madagascar/mada_12.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/madagascar/mada_12.jpg' %}" ></a>
            </div>
        </div>
        
        <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
        <script src="{% static 'photos/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'photos/js/lightbox.min.js' %}"></script>
    </body>
