<!Doctype html>
<html>
    <head>
        {% load staticfiles %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'photos/css/lightbox.css' %}" />
    </head>

    <body>
        
        <div class="nav">
            <ul class = pull-left>
                <li><a href="../architecture/">Architecture</a> </li>
                <li><a href="../landscapes/">Landscapes</a> </li>
                <li><a href="../wildlife/">Wildlife</a> </li>
                <li><a href="../nature/">Nature</a> </li>
            </ul> 
            <ul class = pull-right>
                <li><a href="../">Home</a> </li>
                <li><a href="../aboutme/">About Me</a> </li>
            </ul> 
        </div>

        <div class="pictures">    
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-1.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-1.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-2.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-2.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-3.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-3.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-4.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-4.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-5.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-5.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-6.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-6.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-7.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-7.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-8.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-8.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-9.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-9.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-10.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-10.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-11.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-11.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-12.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-12.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-13.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-13.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-14.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-14.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-15.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-15.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-16.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-16.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-19.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-19.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-20.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-20.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-21.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-21.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-22.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-22.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-23.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-23.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-24.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-24.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-25.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-25.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-26.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-26.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-27.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-27.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-28.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-28.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-29.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-29.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-30.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-30.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-31.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-31.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-32.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-32.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-33.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-33.jpg' %}" ></a></div>
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-34.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-34.jpg' %}" ></a></div>
        </div>
            
        <div class="pictures vertical">    
            <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-17.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-17.jpg' %}"  ></a></div>
             <div class="col-xs-6 col-sm-4 col-lg-3 picture"><a href="{% static 'photos/toronto/toronto-18.jpg' %}" data-lightbox="gallery"><img class="img-responsive" src="{% static 'photos/toronto/toronto-18.jpg' %}" ></a></div>
        </div>
        
        <script src="{% static 'photos/js/bootstrap.min.js' %}"></script>     
        <script src="{% static 'photos/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'photos/js/lightbox.min.js' %}"></script>
    </body>

